
.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.input-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: inherit;
}

.input-content--readonly input {
    cursor: default;
}

label {
    color: var(--color-foreground-title, #414946);
    text-align: start;
}

input {
    display: flex;
    height: 48px;
    width: inherit;
    padding: var(--spacing-3xs) var(--spacing-xs);
    align-items: center;
    gap: var(--spacing-3xs);
    align-self: stretch;
    border-radius: var(--border-sm);
    border: 1px solid var(--color-border, #cdd4d1);
    background: var(--color-input, #f5f6f5);
    color: var(--color-foreground, #242827);
}

input::placeholder {
    color: var(--color-border-alternative, #aab6b1);
}

input:focus-visible{
    outline: none;
    box-shadow: 0 0 0 0;
    border: 1px solid var(--color-primary, #087448);
}

.icon {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 48px;
    padding: var(--spacing-3xs) var(--spacing-xs);
    color: var(--color-muted-foreground, #56645f);
    cursor: pointer;
}

.input-wrapper.error-state label {
  color: var(--color-red-400, #e01300);
}

.input-wrapper.error-state input {
  border-color: var(--color-red-300, #ff5e5b);
}

.error-message {
  color: var(--color-red-400, #e01300);
  font-size: 0.75rem;
  margin-top: 4px;
  display: block;
}
