@import url("./variables.css");
@import "ngx-toastr/toastr";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: var(--font-family-secondary);
    background: var(--color-background);
}

.main-layout {
    display: flex;
}

.main-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

main {
    height: 100vh;
    width: 100%;
    padding: 0 var(--spacing-xl);
}

a {
    text-decoration: none;
    color: var(--color-green-700, #087448);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.back-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--color-green-700, #087448);
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.button-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 200px;
    height: 48px;
    padding: var(--spacing-2xs);
    border-radius: var(--radius-pill);
    background-color: var(--color-green-700, #087448);
    border: 0;
    color: var(--color-primary-foreground);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:disabled, .button-primary:disabled {
    background-color: var(--color-green-700, #087448);
    cursor: not-allowed;
    opacity: 0.6;
}

.button-primary:hover {
    background: var(--color-green-800, #076B41);
}

.button-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 48px;
    padding: var(--spacing-2xs);
    border-radius: var(--radius-pill);
    background: none;
    border: 2.5px solid var(--color-green-700, #087448);
    color: var(--color-green-700, #087448);
    cursor: pointer;
}

.saque-backdrop {
  background: rgba(0, 0, 0, 0.45);
}

.saque-modal-panel .cdk-visually-hidden {
  display: none !important;
}


/* Estilo para o stepper */
mat-stepper {
  width: 100%;
}

.mat-stepper-horizontal {
  background-color: inherit !important;
}

.mat-horizontal-stepper-wrapper {
    gap: 24px;
}

.mat-horizontal-content-container {
  width: 100%;
  padding: 0 !important;
}

.mat-step-icon-selected,
.mat-step-icon-state-edit {
    background-color: var(--color-primary) !important;
    color: var(--color-primary-foreground) !important;
}

.mat-step-label {
    color: var(--color-muted-foreground) !important;
    font-family: var(--label-large-font-family) !important;
    font-size: var(--label-large-font-size) !important;
    font-weight: var(--label-large-font-weight) !important;
    letter-spacing: var(--label-large-letter-spacing) !important;
}

.mat-step-label-active {
    color: var(--color-primary) !important;
}
/* ------------------------------------------ */

.input-inherit {
    width: inherit;
}


/* CLASSES UTEIS TAILWIND */

.flex {
    display: flex;
}

.w-full {
    width: 100%;
}


.color-primary {
    color: var(--color-primary)
}

.color-primary-foreground {
    color: var(--color-primary-foreground);
}

.color-foreground-title {
    color: var(--color-foreground-title);
}

