# Esse é o .env.example apenas um template do .env.
# Rode cp .env.example .env 
# Não commita alterações nesse arquivo, apenas faça alterações no .env

SPRING_MAIL_USERNAME="seu_email_aqui"
SPRING_MAIL_PASSWORD="sua_senha_de_app_aqui"