<div class="menssage-success-containter">
  <div class="circle-check">
    <mat-icon>check</mat-icon>
  </div>
  <div class="content">
    <h2 class="heading_3">Sua conta foi criada <br> e está em análise!</h2>
    <p class="body_large">
      Sua conta está sendo analisado por um dos nossos gerentes, assim que for aprovado você receberá sua senha via e-mail.
    </p>
    <button class="button-primary label_large w-full" (click)="navigate()">
      Ir para Login
      <mat-icon>arrow_foward</mat-icon>
    </button>
  </div>
</div>