<main>
  <section class="illustration-section">
    <div>
      <h1 class="display_medium title-login">
        Seu dinheiro, <br />
        no seu controle.
      </h1>
      <p class="body_large description">
        Gerencie suas finanças de forma simples, <br />
        rápida e segura, onde estiver.
      </p>
    </div>
    <div class="container-illustration">
      <img
        src="assets/illustrations/login.svg"
        alt="Ilustração de Login"
        width="500"
      />
    </div>
  </section>
  @if (registerSuccess()) {
    <section class="successful-container">
      <app-successful-signup></app-successful-signup>
    </section>
  } @else {
  <section class="registration-container">
    <div class="form-text">
      <h3 class="heading_3">Crie sua conta</h3>
      <p class="body_medium">Preencha suas informações para criar um conta.</p>
    </div>
    <div class="form-content">
      <mat-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form class="form-inputs" [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Informações Pessoais</ng-template>
            <app-input-primary
              label="Nome Completo"
              type="text"
              formControlName="nameUser"
              placeholder="Digite seu Nome Completo"
              errorMessage="Nome completo é obrigatório"
              class="input-inherit"
            ></app-input-primary>
            <app-input-primary
              label="CPF"
              type="text"
              formControlName="cpfUser"
              placeholder="___.___.___-__"
              mask="000.000.000-00"
              class="input-inherit"
              [errorMessage]="cpfErrorMessage"
              required
            ></app-input-primary>
            <app-input-primary
              label="Email"
              type="email"
              formControlName="email"
              placeholder="exemple@email.com"
              class="input-inherit"
              errorMessage="Digite um email válido."
              required
            ></app-input-primary>

            <div class="row">
              <app-input-primary
                label="Celular"
                type="text"
                formControlName="phoneUser"
                placeholder="(__) _ ___-__"
                mask="(00) 0 0000-0000"
                errorMessage="Celular é obrigatório"
                class="input-inherit"
                required
              ></app-input-primary>
              <app-input-primary
                label="Salário"
                type="text"
                formControlName="salary"
                mask="separator.2"
                prefix="R$ "
                thousandSeparator="."
                decimalMarker=","
                allowNegativeNumbers="false"
                placeholder="R$ 0,00"
                errorMessage="Salário é obrigatório"
                class="input-inherit"
                required
              ></app-input-primary>
            </div>

            <div class="first-button w-full">
              <button class="button-primary label_large w-full" matStepperNext>
                Próximo
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form class="form-inputs" [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Endereço Completo</ng-template>
            <div class="row">
              <app-input-primary
                formControlName="cep"
                type="text"
                inputName="cep"
                label="CEP"
                placeholder="___-__"
                mask="00000-000"
                errorMessage="CEP é obrigatório"
              />
              <span
                class="button-search-cep label_large"
                [class.disabled]="!isCepValid"
                (click)="isCepValid && searchCep()"
                ><mat-icon
                  aria-hidden="false"
                  aria-label="Pesquisar"
                  fontIcon="search"
                ></mat-icon>
                Pesquisar</span
              >
            </div>
            <app-input-primary
              formControlName="address"
              type="text"
              inputName="address"
              label="Endereço"
              placeholder="Digite seu Endereço"
              class="input-inherit"
              errorMessage="Endereço é obrigatório"
            />
            <div class="row">
              <app-input-primary
                formControlName="number"
                type="text"
                inputName="input-numero"
                label="Número"
                placeholder="Digite seu número"
                class="input-inherit"
                errorMessage="Número é obrigatório"
              />
              <app-input-primary
                formControlName="complement"
                label="Complemento"
                type="text"
                placeholder="Ex: Bloco, Apto, ..."
                class="input"
              />
            </div>
            <app-input-primary
              label="Bairro"
              type="text"
              formControlName="neighborhood"
              placeholder="Digite seu bairro"
              class="input-inherit"
              errorMessage="Bairro é obrigatório"
            />
            <div class="row">
              <app-input-primary
                label="Cidade"
                type="text"
                formControlName="city"
                placeholder="Digite sua cidade"
                class="input-inherit"
                errorMessage="Cidade é obrigatório"
              />
              <app-input-primary
                label="Estado"
                type="text"
                formControlName="state"
                placeholder="Selecione seu Estado"
                class="input-inherit"
                errorMessage="Estado é obrigatório"
              />
            </div>
            @if (registerErrorMessage) {
              <div class="error-message body_medium">
                {{ registerErrorMessage }}
              </div>
            }
            <div class="row row-btn w-full">
              <button class="button-secondary label_large" matStepperPrevious>
                <mat-icon>arrow_back</mat-icon>
                Voltar
              </button>
              <button
                class="button-primary label_large"
                matStepperNext
                (click)="onSubmit()"
              >
                Registrar
                <mat-icon>person_add</mat-icon>
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
      <div class="text-direct-login">
        <p class="body_medium">
          Já possui uma conta?
          <a (click)="navigate()" class="label_large"> Faça o Login</a>
        </p>
      </div>
    </div>
  </section>
  }
</main>
