<header class="header-container">
  <div class="header-content">
    <div class="logo-section" [routerLink]="menuItems[0]?.route || '/login'" style="cursor: pointer;">
      <img src="assets/images/logo-white.svg" alt="Bantads Logo" width="150">
    </div>

    <nav class="nav-links">
      @for (item of menuItems; track item.route) {
        <a [routerLink]="item.route" routerLinkActive="active-link">{{ item.label }}</a>
      }
    </nav>

    <div class="profile-section">
      <div class="user-info" (click)="toggleMenu()">
        <span class="user-name label_large">{{ user?.nome }}</span>
        <img src="assets/images/diddy-4k.png" class="avatar" alt="User Avatar">
        <mat-icon [class.rotate]="isMenuOpen()">expand_more</mat-icon>
      </div>

      @if (isMenuOpen()) {
        <div class="profile-dropdown">
          
          @if (user?.tipo === 'cliente') {
            <button (click)="editProfile()">
              <mat-icon>person_edit</mat-icon> Editar Perfil
            </button>
          }

          <button (click)="logout()" class="logout-btn">
            <mat-icon>logout</mat-icon> Sair do sistema
          </button>
        </div>
      }
    </div>
  </div>
</header>